**Name**: Xabi Moreno Maya <br>
**Date**: 2019-07-04 <br>
**Position**: Backend Developer Software Engineer <br>
**Company**: ENTERCOMS G. O. SPAIN S.L. <br>

## 1. Video games sales dataset

In [12]:
import pandas as pd
import numpy as np

In [13]:
dfvgs = pd.read_csv('vgsales.csv')

**Question 1**: What is the region where ‘Racing’ genre games has the lowest sales figure?

In [14]:
pt = pd.pivot_table(dfvgs[dfvgs['Genre']=='Racing'], 
                    columns='Genre', 
                    values=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], 
                    aggfunc=np.sum)

pt.sort_values(by='Racing').head(1)

Genre     Racing
JP_Sales   56.69

<span style="color:blue">**Answer**</span>: The region with the lowest sales is Japan.

---

**Question 2**: If you were Nintendo CEO, which genre of game would you start creating? Why?

In [15]:
pt = pd.pivot_table(dfvgs[dfvgs['Publisher']=='Nintendo'], 
                    index='Genre', values=['Global_Sales', 'Name'], 
                    aggfunc={
                        'Global_Sales': np.sum, 
                        'Name': lambda x: len(x.unique())
                    })

pt = pt.rename(columns={'Name': 'games_num'})
pt['avg_sales_game'] = round(pt['Global_Sales']/pt['games_num'], 2)
pt.sort_values(by='avg_sales_game', ascending=False)[['avg_sales_game']].head(1)

        avg_sales_game
Genre
Sports            4.36

In [16]:
pt.sort_values(by='Global_Sales', ascending=False)[['Global_Sales']].head(1)

          Global_Sales
Genre
Platform        427.21

<span style="color:blue">**Answer**</span>: 'Platform' genre games have generated more revenue in terms of global sales. However, 'Sports' genre game generate more sales per each game produced. My final answer would depend on the average cost of production for each genre but with the information available my answer is **'Sports'** games.

---

**Question 3**: A new publisher wants to create a new video game. His budget is short so he can only build it for 1 platform. He has chosen to create an ‘Action’ game for PS4. Do you think that decision is correct? Why?

In [17]:
pt1 = pd.pivot_table(dfvgs, 
                     index='Genre', 
                     columns='Platform', 
                     values='Name', 
                     aggfunc=lambda x: len(x.unique())
                    )

pt1 = pt1.fillna(0).astype(int)

pt2 = pd.pivot_table(dfvgs, 
                     index='Genre', 
                     columns='Platform', 
                     values='Global_Sales', 
                     aggfunc=np.sum)

pt2 = pt2.fillna(0)
pt = pt2/pt1
pt = pt.fillna(0).round(2)

In [18]:
pt[['PS4']].sort_values(by='PS4', ascending=False).head(3)

Platform   PS4
Genre
Shooter   2.22
Sports    1.16
Action    0.71

In [19]:
pt[pt.index=='Action'][['PS4', 'PC', 'WiiU', 'XOne', '3DS']].T \
    .sort_values(by='Action', ascending=False).head(1)

Genre     Action
Platform
PS4         0.71

In [20]:
ptt = pt[['PS4', 'PC', 'WiiU', 'XOne', '3DS']].T
ptt = ptt.stack().reset_index().set_index(['Platform', 'Genre'])
ptt.columns = ['avg_sales_game']
ptt.sort_values(by='avg_sales_game', ascending=False).head(5)

                   avg_sales_game
Platform Genre
WiiU     Racing              2.59
PS4      Shooter             2.22
XOne     Shooter             1.56
WiiU     Platform            1.33
3DS      Racing              1.32

<span style="color:blue">**Answer**</span>: A 'Shooter' genre game is the most profitable in PS4 platform. However, if we take into consideration only new generation consoles PS4 is the most suitable console for Action games. In other words, if our creative team already thought of an 'Action' game and we have to decide in which platform should it be developed the decision is correct: PS4 is the correct platform. If there's no restriction in terms of genre a 'Shooter' game is a more profitable option for PS4 and the most profitable option considering all (new generation) platforms and genres is a 'Racing' game for WiiU.